body{
    background-color: brown;
}
nav{
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    color: brown;
}
p{
    color: antiquewhite;
    margin-left: 10px;
}
img{
    height: 350px;
    width: 350px;
    margin-top: 30px;
}